.bg{
    background: url("../images/bg.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.form-container{
    
    padding: 30px 40px;
    margin-top: 20vh;
    -webkit-box-shadow: -2px 6px 36px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 6px 36px -3px rgba(0,0,0,0.75);
box-shadow: -2px 6px 36px -3px rgba(0,0,0,0.75);
}