* {box-sizing:border-box}

/* Slideshow container */
#aa {
  max-width: 500px;
  width: 100%;
  top:350px;
  left:10px;
  position: absolute;
  margin: auto;
}
p {
  
  top:350px;
  left:700px;
  position: absolute;
  color:burlywood;
  font-size: 50px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body{
    background: rgb(211, 208, 208);
}
.bg{
    background: url("../images/r.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.menu{
background: #3b763b;
padding: 6px 0 6px 40px;
}
#ty{
  text-align:right;
  font-size: 2000px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position:absolute;
  
  color: #ffff;
  
}
.menu a {
        color: aqua;
        text-decoration: none;
        font-size: 25px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px;
        position: float;
        
}
 .menu a:hover {
     color: wheat;
 